.login-form{
  width: 80%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  label{
    margin: 10px 0px;
    width: 400px;

  }
  input{
    margin-bottom: 10px;
    width: 400px;
    padding: 20px;
    background-color: pink;
    border: inset;
    border-radius: 12px;
  }
  button{
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background: linear-gradient(to left, purple, pink);
    border-radius: 5px;
  }
 a{
   text-decoration: none;
   color: black;
   margin-top: 20px;
 }
}